{{ form_start(form) }}
        <div class="create_input">
        {{ form_row(form.dateDebut, {'label': 'Début'})}}
        </div>
                <div class="create_input">
            {{ form_row(form.lang, {'label': 'Version'})}}
        </div>
        <div class="create_input">
            {{ form_row(form.film, {'label': 'Film'})}}
        </div>
        <div class="create_input">
            {{ form_row(form.salle, {'label': 'Salle'})}}
        </div>
    <div class="create_btn">
        <button class="btn_create btn">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
