{% extends 'base.html.twig' %}

{% block title %}Nos Séances{% endblock %}

{% block body %}
    <h1 class="h1_listing">Nos Séances</h1>


    {% if seances|length == 0 %}
        <div class="message_contenu_inexistant">Pas de séances disponible</div>

        <div class="btn_admin_container">
         <a href="{{ path ('seance_new') }}"><div class="btn_admin">Ajouter une séance</div></a>
        </div>

    {% else %}
    

<div class="film_super_container">
        {% for seance in seances %}

        <div class="film_div_container">
        <div class="film_div_img">
                <img src="\uploads\images\{{seance.getFilm().image}}" alt="Affiche Film">
            </div>
            <div class="film_div_text">
                <div class="film_div_presentation">
                    <p class="seance_div_titre">{{ seance.getFilm().title }}</p>
                    <a class="film_div_a_info" href="{{ path('filmDetail', { 'id': seance.getFilm().id} ) }}">
                        <div class="film_div_info">
                            <p>Détail du film</p>
                        </div>
                    </a>
                    <p class="seance_date">Début à {{ seance.dateDebut ? seance.dateDebut|date('H:i d-m-Y') : ''  }}</p>
                    <div class="seance_div_grd">
                        <p class="film_p_grd">{{ seance.lang }}</p>
                        <p class="film_p_grd">Salle {{ seance.getSalle().numero }}</p>
                    </div>
                </div>
            </div>
            <div class="admin_btn_container">
                <a href="{{ path('seance_edit', {'id': seance.id}) }}"><div class="seance_update_btn">Modifier</div></a>
                <div>{{ include('seance/_delete_form.html.twig') }}</div>
            </div>
        </div>
        
        {% endfor %}
    </div>

    {% endif %}

{% endblock %}
