{% extends "base.html.twig" %}

{% block tittle %}Ajouter Film{% endblock %}

{% block body %}

<h1 class="h1_create">
    {% if (isEditor) %}
        Formulaire de modification d'un film
    {% else %}
        Formulaire d'ajout de film
    {% endif %}
</h1>

{{ form_start(form) }}
<div class="create_input">
    {{ form_row(form.title, {'label': 'Titre'})}}
</div>
<div class="create_input">
    {{ form_row(form.realisateur, {'label': 'Réalisateur'})}}
</div>
<div class="create_input">
    {{ form_row(form.genre, {'label': 'Genre'})}}
</div>
<div class="create_btn">
    {% if (isEditor) %}
        {{ form_row(form.save, { 'label' : 'Modifier', 'attr': {'class': 'btn_create'}}) }}
    {% else %}
        {{ form_row(form.save, { 'label' : 'Ajouter'}) }}
    {% endif %}
</div>
{{ form_end(form) }}

{% endblock %}