{% extends "base.html.twig" %}

{% block tittle %}Films
{% endblock %}

{% block body %}

    {% if film|length == 0 %}
        <div class="message_contenu_inexistant">Film inexistant</div>
        
        <div class="btn_admin_container">
          <a href="{{ path ('filmCreate') }}"><div class="btn_admin">Ajouter un film</div></a>
        </div>
    {% else %}

	<h1 class="h1_listing">
		Détail Du Film
		{{ film.title }}
	</h1>


	<div class="film_detail_super_container">

		<div class="detail_film_div_container">
			<div class="detail_div_img">
				<img src="\uploads\images\{{film.image}}" alt="Affiche Film">
			</div>
			<div class="film_div_text">
				<div class="film_div_presentation">
					<p class="detail_film_div_titre">Synopsis</p>
					<div class="detail_film_div_synopsis">{{ film.synopsis}}</div>
				</div>
				<div class="detail_film_div_grd">
					<p class="film_p_grd">Genre :
						{{ film.genre }}</p>
					<p class="film_p_grd">Réalisateur :
						{{ film.realisateur }}</p>
					<p class="film_p_grd">Durée :
						{{ film.duree }}
						Minutes</p>
				</div>
			</div>
			<div class="admin_btn_container">
				<a href="{{ path('filmUpdate', { 'id': film.id} ) }}">
					<div class="seance_update_btn">Editer</div>
				</a>
				<a href="{{ path('filmDelete', { 'id': film.id} ) }}">
					<div class="seance_update_btn">Supprimer</div>
				</a>
			</div>
		</div>

    
	<div class="seance_detail_div_container">
  <p class="seance_detail_div_titre">Prochaines séances pour ce film</p>

    {% if film.getSeances()|length == 0 %}
        <div class="message_contenu_manquant">Pas de séance disponible pour ce film</div>
    {% endif %}

		{% for seance in film.getSeances() %}

			<div class="film_div_text">
				<div class="film_div_presentation">
					<p class="seance_date">Début à
						{{ seance.dateDebut ? seance.dateDebut|date('H:i d-m-Y') : ''  }}</p>
					<div class="seance_div_grd">
						<p class="film_p_grd">{{ seance.lang }}</p>
						<p class="film_p_grd">Salle
							{{ seance.getSalle().numero }}</p>
					</div>
				</div>
			</div>
			<div class="admin_btn_container">
				<a href="{{ path('seance_edit', {'id': seance.id}) }}">
					<div class="seance_update_btn">Modifier</div>
				</a>
				<div>{{ include('seance/_delete_form.html.twig') }}</div>
			</div>

		{% endfor %}
	</div>
	</div>
{% endif %}


{% endblock %}
