{% extends "base.html.twig" %}

{% block tittle %}Films{% endblock %}

{% block body %}

<h1 class="h1_listing"> Détail Du Film {{ film.title }} </h1>

  <div class="detail_container">
    <div>
      <span>Titre du film</span> {{ film.title }}
    </div>
    <div>
      <span>Réalisateur du film</span> {{ film.realisateur }}
    </div>
    <div>
      <span>Genre du film</span> {{ film.genre }}
    </div>

    <div class="detail_btn">
        <a href="{{ path('filmUpdate', { 'id': film.id} ) }}">Editer</a>
        <a href="{{ path('filmDelete', { 'id': film.id} ) }}">Supprimer</a>
    </div>
  </div>
    
{% endblock %}