{% extends "base.html.twig" %}

{% block tittle %}Films{% endblock %}

{% block body %}

<h1 class="h1_listing"> Liste De Tous Nos Films </h1>

    {% if films|length == 0 %}
        <div class="message_contenu_inexistant">Pas de films disponibles</div>

        <div class="btn_admin_container">
         <a href="{{ path ('filmCreate') }}"><div class="btn_admin">Ajouter un film</div></a>
        </div>

    {% else %}

    <div class="film_super_container">
        {% for film in films %}

        <div class="film_div_container">
            <div class="film_div_img">
                <img src="\uploads\images\{{film.image}}" alt="Affiche Film">
            </div>
            <div class="film_div_text">
                <div class="film_div_presentation">
                    <p class="film_div_titre">{{ film.title }}</p>
                    <div class="film_div_synopsis">
                    {{ film.synopsis|length > 160 ? film.synopsis|slice(0, 160) ~ '...' : film.synopsis  }}
                    </div>
                    <div class="film_div_grd">
                        <p class="film_p_grd">{{ film.genre }}</p>
                        <p class="film_p_grd">{{ film.realisateur }}</p>
                        <p class="film_p_grd">{{ film.duree }} Minutes</p>
                    </div>
                </div>
                <a class="film_div_a_info" href="{{ path('filmDetail', { 'id': film.id} ) }}">
                    <div class="film_div_info">
                        <p>Plus d'informations</p>
                    </div>
                </a>
            </div>
        </div>
        
        {% endfor %}
    </div>

    
    {% endif %}
    
{% endblock %}