{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}

<h1 class="h1_listing">Nos Salles</h1>


    {% if salles|length == 0 %}
        <div class="message_contenu_inexistant">Aucune Salle Trouvée</div>

        <div class="btn_admin_container">
         <a href="{{ path ('salle_new') }}"><div class="btn_admin">Ajouter une salle</div></a>
        </div>

    {% else %}
    

<div class="film_super_container">
        {% for salle in salles %}

        <div class="film_div_container">
            <div class="film_div_text">
                <div class="film_div_presentation">
                    <p class="seance_div_titre">Salle numéro {{ salle.numero }}</p>
                 
                    <p class="seance_date">Nombre de place : {{ salle.nombrePlace  }}</p>
                    <div class="seance_div_grd">
                        <p class="film_p_grd"> Disponibilite : {{ salle.disponibilite }}</p>
                    </div>
                </div>
            </div>
            <div class="admin_btn_container">
                <a href="{{ path('salle_edit', {'id': salle.id}) }}"><div class="seance_update_btn">Modifier</div></a>
                <div>{{ include('salle/_delete_form.html.twig') }}</div>
            </div>
        </div>
        
        {% endfor %}
    </div>

    {% endif %}

{% endblock %}
